<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lsj.tingshu.album.mapper.BaseAttributeMapper">

    <resultMap id="baseAttributeAndValueResultMap" type="com.lsj.tingshu.model.album.BaseAttribute">
        <id column="id" property="id"></id>
        <result column="category1_id" property="category1Id"></result>
        <result column="attribute_name" property="attributeName"></result>
        <collection property="attributeValueList" ofType="com.lsj.tingshu.model.album.BaseAttributeValue">
            <id column="vid" property="id"></id>
            <result column="attribute_id" property="attributeId"></result>
            <result column="value_name" property="valueName"></result>
        </collection>
    </resultMap>

    <select id="findAttributeList" resultMap="baseAttributeAndValueResultMap">
        SELECT ba.id,
               ba.category1_id,
               ba.attribute_name,
               bav.id AS vid,
               bav.attribute_id,
               bav.value_name
        FROM base_attribute AS ba
                 INNER JOIN base_attribute_value AS bav
                            ON ba.id = bav.attribute_id
        WHERE category1_id = #{c1Id}
          AND ba.is_deleted = 0
    </select>
</mapper>

